default:
    suites:
        default:
            contexts:
                - FinizensChallenge\Tests\Behat\FeatureApiContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: FinizensChallenge\SharedContext\SymfonyModule\Infrastructure\Kernel\Kernel
                path: src/SharedContext/SymfonyModule/Infrastructure/Kernel/Kernel.php
                environment: test
                debug: true
